# --- DEPENDENCIAS Y CACHÉ ---
node_modules/
.pnp
.pnp.js
.yarn/
*.log
.DS_Store

# --- SEGURIDAD Y SECRETOS (LO MÁS IMPORTANTE) ---
# Ignora cualquier archivo llamado así en cualquier carpeta
SupabaseClient.kt
local.properties
google-services.json
*.jks
*.keystore
.env
.env*.local
*.pem

# --- ANDROID (PATRONES GLOBALES) ---
# Ignora carpetas de compilación e IDE en todo el proyecto
.gradle/
build/
bin/
gen/
out/
.idea/
*.iml

# --- NEXT.JS / WEB ---
.next/
out/
dist/
.vercel
*.tsbuildinfo
next-env.d.ts

# --- CAPACITOR / MOBILE ---
/ios/App/Podfile.lock
/ios/App/Pods
/respaldosmobile/

# --- EDITORES ---
.vscode/
*.swp
*.sln